body {
    color: white;
    font-family: 'Almarai', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 300;
}

.login-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: #00D7C3;
}

.block {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 560px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.label_login {
    font-family: 'Almarai', sans-serif;
    font-size: 45px;
    color: #FFFFFF;
}

.label_stalks {
    font-family: 'Abhaya Libre', serif;
    font-size: 140px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #007A6E;
}

/*Input*/
.input_fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 200px;
    margin: 20px 0;
}

.input_label {
    align-self: flex-start;
}

.input {
    box-sizing: border-box;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #007A6E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-size: 30px;
    padding: 0 15px;
}

.input_wh {
    width: 700px;
    height: 40px;
}

/*Button*/
.button_label {
    /*font-family: 'Almarai', sans-serif;*/
    font-family: sans-serif;
    font-size: 32px;
    color: #007A6E;
    cursor: pointer;
}

.button_wh {
    width: 270px;
    height: 60px;
}
