@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

body {
    background-color: #00D7C3;
    color: white;
    font-family: 'Almarai', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 300;
}

.block{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 560px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.input_label{
    align-self: flex-start;
}

.input_fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 200px;
    margin: 20px 0;
}

.logowanie{
    font-family: 'Almarai', sans-serif;
    font-size: 45px;
    color: #FFFFFF;
}

.stalks{
    font-family: 'Abhaya Libre', serif;
    font-size: 140px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #007A6E;
}


.rectangle {
    box-sizing: border-box;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #007A6E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rectangle_wh {
    width: 700px;
    height: 40px;
}

.wh{
    width: 270px;
    height: 60px;
}

.zaloguj{
    /*font-family: 'Almarai', sans-serif;*/
    font-family: sans-serif;
    font-size: 32px;
    color: #007A6E;
}
