/*Import czcionek*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

/*Import plików*/
@import url(login.css);
@import url(chat.css);
@import url(settings.css);

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  color: #000;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}