@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

@import url(login.css);
@import url(chat.css);
@import url(settings.css);

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}